.option {
  color: white;
  font-size: 18px;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
  
  &.active {
    font-weight: 700;
    color: black;
    background-color: lightgray;
  }
}

.vertical {
  flex-direction: column;
}
