@use '../../shared/mixins/reset.module.scss' as mixins;

.arrow {
  position: absolute;
  cursor: pointer;
  transition: transform 0.3s;

  &.open {
    transform: rotate(180deg);
  }

  &.lg {
    right: 4%;
    top: 15%;
    width: 26px;
    height: 26px;
  }

  &.md {
    right: 3%;
    top: 10%;
    width: 22px;
    height: 22px;
  }

  &.sm {
    right: 2%;
    top: 5%;
    width: 16px;
    height: 16px;
  }
}

.component {
  position: relative;
  width: fit-content;

  .input {
    cursor: pointer;
    caret-color: transparent;
  }

  .options {
    @include mixins.resetUlStyle;

    position: absolute;
    top: 0;
    border: 1px solid gray;
    width: 100%;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    background-color: white;
    height: 0;
    overflow-y: auto;
    max-height: 300px;
    opacity: 0;

    &.open {
      height: auto;
      opacity: 1;
    }

    .option {
      padding: 4px 2px;
      cursor: pointer;

      &:hover {
        background-color: lightgray;
      }
    }
  }
}
