.feature {
  gap: 8px;

  .option {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 4px;
    transition: background-color 0.3s;

    &.active {
      background-color: lightgray;
    }
  }
}
